<html>
 <head><title>Find your favorites here!</title>
   <h1 style="color:black;">"Welcome to the Bookmark Central!"</h1>
<style>
table, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
 </head>

 <body>
    <form action='/refresh' method="post">
   <table width="50%">
     <tr>
       <td width="70%"><textarea name="urlitem" row="1" cols="100"></textarea></td>
       <td width="15%"><input type="text" name="title" value="No Title"/></td>
       <td width="15%"><input type="submit" value="Save" name="submit" /></td>
     </tr>
      <tr>
        <td></td>
        <td><input type="text" name="deleteitem"></td>
        <td><input type="submit" value="Delete" name="submit"></td>
      </tr>
    </table>
    </form>

    <%= @result1 if (@bm.htlist.count > 0) %>
    <%= @result %>
     <ul>
       <% @bookmarks.each do |bookmark| p bookmark%>
       <li>
         <b># </b><%= bookmark[:ID]%>&nbsp;<a href="<%=bookmark[:URL]%>" target="_blank"> <%=bookmark[:TITLE]%> </a>
       </li>
      <% end %>
    </ul>
 </body>
</html>
